@media(max-width: 560px){
   
     body{
          height: 380px;
     }

     main{
        display: block;
   } 

     .esquerda{
        max-width: 300px;
        border-radius: 10px 10px 0 0;
   }

     .meio{
        max-width: 300px;
    }

     .direita{
        max-width: 300px;
        border-radius: 0 0 10px 10px;
   }
}
