@media(max-width: 560px){
   main{
        display: block;
        margin: 0 0 0 14%;
   } 

   .esquerda{
        max-width: 300px;
        border-radius: 10px 10px 0 0;
   }

   .meio{
        max-width: 300px;
    }

    .direita{
        max-width: 300px;
        border-radius: 0 0 10px 10px;
   }
}
